ion-icon {
  font-size: 34px;
 
}

ion-icon {
  color: rgb(252, 252, 252);
}

ion-button{
  --padding-start: 0;
  --padding-end: 0;
}

.editarEjercicio {
  --background:transparent;
  --background-hover: #eeff00;  
}
