<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-title>Ejercicios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="openModal()">Agregar ejercicio a rutina</ion-button>
    <ion-button expand="block" (click)="createRutina()">Crear Rutina</ion-button>
  
    
    <ion-list *ngIf="dataEntries.length > 0">
      <ion-item *ngFor="let entry of dataEntries; let i = index">

        <ion-checkbox aria-label="Label" [(ngModel)]="entry.rutina" (ionChange)="toggleRutina(entry)"></ion-checkbox>
        <ion-label>{{ entry.ejercicio }}</ion-label>
    
        <ion-list *ngIf="entry.seriesList && entry.seriesList.length > 0">
          <ion-item *ngFor="let serie of entry.seriesList; let j = index">
            <ion-label>No Serie: {{ serie.numeroSerie }}, Repeticiones: {{ serie.repeticiones }}, Peso: {{ serie.peso }}</ion-label>
          </ion-item>
        </ion-list>
        
        <ion-button class="editarEjercicio" (click)="editEntry(i)" aria-label="Favorite">
          <ion-icon name="create-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    
    
  </ion-content>
</ion-content>
